.header--page-margins {
  @include page-margin-inline;
  @include onMobile {
    margin-top: 25px;
  }
  margin-top: 50px;
}

.section--page-margins {
  @include page-margin-inline;
  @include onMobile {
    margin-top: 100px;
  }
  margin-top: 140px;
}